NEXT_PUBLIC_APP_URL=https://app.fableadtracker.com
NEXT_PUBLIC_SUPABASE_URL=https://xtpqniktirazzsnzfjqu.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_MRPK1YQClQRkbUb_yjIqmQ_H9t46oHe
